* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    display: flex;
    flex-direction: column;    
    align-items: center;
    background-color: darkgreen;
    
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds 20s infinite linear;
}

.game-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* gap: 25px; */
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-top: 30px;
    background-color: rgba(239, 239, 248, 0.5);
}

.text-result {
    font-weight: 700;
    font-size: 1.5em;
    color: rgb(236, 41, 41);
}

.btnIniciar {
    width: 130px;
    height: 40px;
    color: rgb(11, 11, 107);
    font-weight: 700;
    font-size: 1em;
    border: none;
    border-radius: 8px;
    background: #bae5f6;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.btnIniciar:hover {
    background: #4999b8;
    transition: all 0.5s;
    color: white;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }

}
@keyframes jumpdevice {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 200px;
    }

    50% {
        bottom: 200px;
    }

    60% {
        bottom: 200px;
    }
    70% {
        bottom: 200px;
    }

    100% {
        bottom: 0;
    }

}

@keyframes clouds {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .jump {
        animation: jumpdevice 500ms ease-out;
    }
    .pipe {
        animation: pipe-animation 1s infinite linear;
    }
}

